<div class="register">
  <form [formGroup]="form" class="register-form" (ngSubmit)="onSubmit()">
    <div class="form-container">
      <div class="form-header">
        <img class="img-circle" src="assets/login-icon.jpg">
        <!-- <p>Some user information</p> -->
      </div>
      <div class="form-content">
        <mat-form-field>
          <input type="email" matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <p class="error" *ngIf="form.get('email').invalid && form.get('email').touched">Email required!</p>
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'">
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <p class="error" *ngIf="form.get('password').invalid && form.get('password').touched">Password required!</p>
      </div>
      <div class="form-footer">
        <p class="lead error" *ngIf="registerError">Invalid Username or Password!!</p>
        <button class="btn register-btn">Register</button>
        <button class="btn signup-btn" type="button">Login</button>
      </div>
    </div>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </form>
</div>
