@import '../../../theme/variables';

.header {
    position: absolute;
    width: 100%;
    z-index: 3;
    height: 44px;
    background-color: $primary;
    border-bottom: 3px solid $border;

    .logo {
        height: 44px;
        padding: 10px;
        font-weight: 700;
        color: #233245;
        i {
            font-size: 22px;
        }
        span {
            margin-left: 5px;
            text-transform: uppercase;
        }
    }
    .fa-bars {
        display: inline;
        position: absolute;
        top: 15px;
        right: 30px;
    }

}

@media screen and (min-width: 600px) {
    .header {
        background-color: $primary;
        z-index: 1;
        .logo {
            display: none;
        }
        .fa-bars {
            display: none;
        }
    }
}
