@import '../../../theme/variables';

.header {
    position: absolute;
    width: 100%;
    z-index: 3;
    height: 44px;
    background-color: $primary;
    border-bottom: 3px solid $border;
    display: flex;
    justify-content: space-between;

    // .ripple {
    //   background-position: center;
    //   transition: background 0.8s;
    // }
    // .ripple:hover {
    //   background: #08eb63 radial-gradient(circle, transparent 1%, #08eb63 1%) center/15000%;
    // }
    // .ripple:active {
    //   background-color: #47c519;
    //   background-size: 100%;
    //   transition: background 0s;
    // }
    .user-profile {
      display: none;
      border: 1px solid #3ee280;
      border-radius: 25px;
      box-shadow: 0px 2px 4px 0px #267545;
      padding-right: 10px;
      background-position: center;
      transition: background 0.8s;
      cursor: pointer;
      &:hover {
        background: #08eb63 radial-gradient(circle, transparent 1%, #08eb63 1%) center/15000%;
      }

      &:active {
        background-color: #47c519;
        background-size: 100%;
        transition: background 0s;
      }
      img {
        height: 40px;
        width: 40px;
      }
      p {
        display: inline;
        padding-left: 10px;
      }
    }

    .logo {
        height: 44px;
        padding: 10px;
        font-weight: 700;
        color: #233245;
        i {
            font-size: 22px;
        }
        span {
            margin-left: 5px;
            text-transform: uppercase;
        }
    }
    .fa-bars {
        display: inline;
        position: absolute;
        top: 15px;
        right: 30px;
    }

}

@media screen and (min-width: 600px) {
    .header {
        background-color: $primary;
        z-index: 1;
        .user-profile {
            display: block;
        }
        .fa-bars {
            display: none;
        }
    }
}
