<div class="side-nav" [ngClass]="{'visible': showOrHideMenu }">
  <div class="menu">
    <!-- <div class="logo">
      <i class="fa fa-tachometer"></i>
      <span>Brand</span>
    </div> -->
    <nav>
      <ul>
        <li *ngFor="let menu of menus">
          <a [routerLink]="[menu.path]">
            <span><i [class]="menu.icon"></i></span>
            <span>{{ menu.name }}</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="logout">
      <button class="btn" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>logout</span>
      </button>
    </div>
  </div>
</div>
